@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.arrow-active {
  transform: rotate(90deg);
  transition: 0.12s;
}
@media screen and(max-width: 250px) {
.post img {
    width:100px;
  }
}
